.teacher-info .container {
    max-width: max-content;
    border: 2px solid rgb(102, 51, 102);
    border-radius: 5px;
    margin: 10px;
    background-color: white;
}

.teacher-info .header {
    background-color: rgb(102, 51, 102);
    color: white;
    font-family: "RobotoRegular", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.teacher-info .button-open {
    max-width: 280px;
    background-color: rgb(102, 51, 102);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(102, 51, 102);
    margin: 10px;
    padding: 10px;
    font-family: "RobotoRegular", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.teacher-info .button-close {
    height: 23px;
    width: 23px;
    background-color: white;
    color: rgb(102, 51, 102);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.teacher-info .info {
    padding: 10px;
}

.teacher-info .row {
    border-bottom: 1px solid rgb(102, 51, 102);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.teacher-info .row span:nth-child(1) {
    font-weight: 500;
}

