.SearchBox {
    z-index: 2;
    position: absolute;
    width: 40%;
    margin: 10px;
}

.SearchBoxText {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.73);
}

.SearchBoxText input {
    width: 100%;
    border: 1px solid rgb(101, 52, 101);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.73);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
}

.SearchBoxText ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    border: 1px solid rgb(101, 52, 101);
}

.SearchBoxText ul::before {
    content: "";
}

.SearchBoxText li {
    padding: 10px 5px;
    cursor: pointer;
}

.SearchBoxText li:hover {
    background-color: rgba(139,0,139,0.20);
    border-radius: 5px;
    text-decoration: underline;
} 

.SearchBoxText div:hover {
    background-color: rgba(128, 128, 128, 0.20);
} 

