.BackBtnContainer{
    position: fixed;
    z-index: 2;
    left: 3vw;
    bottom: 5vh
}

.BackBtnContainer .BackBtn{
    background-color:  rgb(101, 52, 101);
    border-color: white;
}

.BackBtnContainer .BackBtn:hover{
    background-color: white;
    color:  rgb(101, 52, 101);
    border-color:  rgb(101, 52, 101);
}