.ZoomInOutBtnContainer {
    position: fixed;
    right: 3vw;
    bottom: 5vh;
}

.ZoomInOutBtnContainer .ZoomBtn {
    background-color: rgb(101, 52, 101);
    border-color: white;
}

.ZoomInOutBtnContainer .ZoomBtn:hover {
    background-color: white;
    color: rgb(101, 52, 101);
    border-color: rgb(101, 52, 101);
}